$borderSize: 2px
$strokeColor: #000

@mixin border($color, $size)

.slider
    display: flex
    user-select: none
    font-size: 1rem
    gap: 16px

    justify-content: center
    align-items: center

    position: relative
    height: 32px

    .inner
        position: relative
        display: flex
        width: 200px
        height: inherit

        .tooltip
            display: block
            opacity: 0
            transition: opacity .5s

            background-color: rgba(0,0,0, 0.1)
            backdrop-filter: blur(4px)
            border: solid 1px rgba(255, 255, 255, 0.1)
            border-radius: 12px

            position: absolute
            width: 50px
            top: -50px
            transform: translateX(-25px)
            font-family: "Courier New", monospace
            font-size: 0.75rem
            text-align: center
            vertical-align: middle
            padding: 8px 12px

        input[type="range"]
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 5%      /* invisible but interactive */
            cursor: pointer
            margin: 0

        canvas
            position: absolute
            height: inherit
            width: 200px
            top: 0
            left: 0
            pointer-events: none /* let clicks fall through to the input */
            image-rendering: pixelated

    .handle
        position: absolute
        z-index: 3
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

        filter: drop-shadow($borderSize 0 0 $strokeColor) drop-shadow(0 $borderSize 0 $strokeColor) drop-shadow(-$borderSize 0 0 $strokeColor) drop-shadow(0 -$borderSize 0 $strokeColor)
